/* @font-face {
    font-family: Gilroy;
    src: url(../assets/Gilroy-Regular.ttf);
    font-weight: 400;
  }
  
  @font-face {
    font-family: Gilroy;
    src: url(../assets/Gilroy-SemiBold.ttf);
    font-weight: 700;
  } */
  
  
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Gilroy';
    color: #222222;
    font-size: x-large;
  }

  nav
{
  background-color: #726f6f;
  /* background-color: #a36a47b9; */
  /* background-color: #d2b48c; */
  position: absolute; 
  top: 0.5; 
  width: 100%; 
  height: 8%;
}

  h1.a {
    font-weight: 700;
    font-size: x-large;
  }

  a:hover { 
    background-color: #a9a9a9;
    border-radius : 3px;
  }
  
  img.resize{
    max-width: 13%;
    padding-top: 20px;
    
  }


  .light {
    color: white;
  }
  
  .hero {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/heroimage2.jpg');
    height: 100vh;
    color: white;
    background-position: 50% 50%;
  }
  
  img.size{
    height: 30;
    width: 30;
   }

  .btn {
    padding: 10px 40px;
    margin-top: 20px;
    font-size: 25px;
  }
  
  section {
    padding: 64px 0px;
  }
  
  img {
    margin-bottom: 24px;
    width: 100%;
  }
  #footer{
    left: 0;
    position: absolute;
    bottom: -1220;
    width: 100%;
    padding: 10px 10px;
    background-color:#726f6f;
    color: white;
    text-align: center;

  }
